body {
  font-family: "Courier New", Courier, monospace;
}
a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.center-object {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 290px;
}
#clan-invite-button1 {
  border: 20px;
  background-color: brown;
  padding: 20px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  transition-duration: 0.15s;
  border-color: brown;
  border-style: solid;
  border-width: 4px;
}
#clan-invite-button1:hover {
  color: black;
  background-color: white;
}
#clan-invite-text-style {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}
#button-files-secret-1 {
  border: 20px;
  background-color: brown;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  transition-duration: 0.15s;
  position: absolute;
  top: 0%;
  right: 0%;
  margin-top: 8px;
  margin-right: 8px;
  border-color: brown;
  border-style: solid;
  border-width: 3px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}
#button-files-secret-1:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.button-discord-redir {
  border: 20px;
  background-color: brown;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  transition-duration: 0.15s;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 8px;
  margin-left: 8px;
  border-color: brown;
  border-style: solid;
  border-width: 3px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

.button-discord-index-grid {
  border: 20px;
  background-color: brown;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  transition-duration: 0.15s;
  position: relative;
  top: 0px;
  left: 0%;
  margin-top: 8px;
  border-color: brown;
  border-style: solid;
  border-width: 3px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  position: sticky;
  transform: translateY(1%);
}
.button-store-redir {
  border: 20px;
  background-color: brown;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  transition-duration: 0.15s;
  position: absolute;
  top: 0%;
  left: 105px;
  margin-top: 8px;
  margin-left: 8px;
  border-color: brown;
  border-style: solid;
  border-width: 3px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}
