.num-his {
  border: 2px solid black;
  border-radius: 10px;
  height: 40vh;
  margin: 0 30%;
  background: rgb(31, 34, 38);
  resize: vertical;
  min-height: 40vh;
  overflow: auto;
  color: white;
  
}

.best-num-label {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 7px;
  color: white;
  display: inline-block;
  margin: 10px 0px;
  padding: 5px 15px;
}

.history-item {
  border-bottom: 2px solid white;
  font-size: 24px;
  /* text-align: left;
  text-indent: 10px; */
}