@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Patrick+Hand&display=swap");
body {
  font-family: "Patrick Hand";
}
.mainchannelviewbutton-twitch {
  font-size: 29px;
  position: absolute;
  background-color: rgb(138, 43, 226);
  color: white;
  padding: 6px 20px 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.2s;
  box-shadow: 2px 2px 9px rgba(138, 43, 226, 0.55);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: "Patrick Hand";
  border: none;
}
.mainchannelviewbutton-twitch:hover {
  box-shadow: 8px 8px 11px rgba(138, 43, 226, 0.55);
  background-color: rgb(158, 53, 226);
  top: 49.3%;
  left: 49.3%;
}
.mainchannelviewbutton-youtube {
  font-size: 29px;
  position: absolute;
  background-color: rgb(220, 0, 0);
  color: white;
  padding: 6px 20px 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.2s;
  box-shadow: 2px 2px 9px rgba(220, 0, 0, 0.55);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: "Patrick Hand";
  border: none;
}
.mainchannelviewbutton-youtube:hover {
  box-shadow: 8px 8px 11px rgba(255, 60, 60, 0.55);
  background-color: rgb(255, 60, 60);
  top: 49.3%;
  left: 49.3%;
}
