#center
{
    text-align: center;
}
#button-invite-TS8H
{
    padding: 30px;
    border-radius: 7px;
    background-color: aqua;
    font-size: 60px;
    position: relative;
    top: 340px;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 200ms;
}
#button-invite-TS8H:hover
{
    background-color: aquamarine;
}