@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Chewy&family=Coda&family=Comfortaa&family=Dongle:wght@300&family=Inter&family=League+Gothic&family=Nunito&family=Oswald&family=PT+Sans&family=Righteous&family=Supermercado+One&family=Ubuntu:wght@300&display=swap');

* {
  font-family: "Inter";
}
body {
  text-align: center;
  background-color: rgba(9, 255, 0, 0.178);
  margin: 0px;
}
header {
  background-color: rgb(153, 255, 127);
  position: relative;
  top: -0px;
  padding: 1px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.308);
}
.page-header {
  font-size: 30px;
  text-decoration: underline;
}
.default-btn {
  font-size: 20px;
  background-color: rgb(0, 255, 0);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  color: black;
  transition-duration: 0.2s;
  margin: 10px;
}
.default-btn:hover {
  background-color: blueviolet;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
}