@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@keyframes innerBarAnim {
  0% {
    box-shadow: 0px 0px 250px 30px rgb(0, 255, 64);
  }
  50% {
    box-shadow: 0px 0px 250px 30px rgba(0, 255, 64, 0.637);
  }
  100% {
    box-shadow: 0px 0px 250px 30px rgb(0, 255, 64);
  }
}

* {
  font-family: "Fredoka";
  color: white;
}

body {
  background-color: rgb(16, 15, 17);
  margin: 0;
}

.main-h1 {
  font-size: 3vw;
  margin: 5px;
}

h2 {
  font-size: 1.2vw;
}

.percentage-view {
  font-size: 10vw;
  margin: 0px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100vh;
}

.loader-outer {
  aspect-ratio: 1300 / 30;
  width: 80vw;
  /* height: 50px; */
  display: inline-block;
  border-radius: 1vh;
  background-color: rgba(37, 34, 34, 0.5);
  /* border: 2px solid rgb(69, 255, 110); */
  box-shadow: 0 0 0 2px rgb(69, 255, 110),
  0 0 0 5px rgb(56, 56, 56);
  /* background-image: url("/src/img/LineEffect1.png"); */
  background-size: 55px;
}

.loader-inner {
  /* aspect-ratio: 1300 / 70; */
  background: linear-gradient(90deg,rgb(0, 255, 64), rgb(99, 250, 99));
  box-shadow: 0px 0px 250px 0px rgb(0, 255, 64);
  height: 50px;
  width: 0%;
  border-radius: 1vh;
  resize: horizontal;
  animation: innerBarAnim 4s infinite forwards ease-in-out;
  /* background-image: url("/src/img/LineEffect1.png"); */
  /* background-size: 20px; */
}

.ant-sim-play-now-btn-image {
  width: 40%;
  display: inline-block;
  transition: 0.2s;
  border-radius: 1.1vw;
  background: none !important;
}

.ant-sim-play-now-btn-image:hover {
  width: 45%; 
  box-shadow: 0px 0px 250px 0px rgb(0, 255, 64);
}

.ant-sim-play-now-btn {
  display: none;
  background: none !important;
}